{% extends "stormwind/base.html" %}
{% block title %} {{ cats }} {% endblock %}
{% block content %}
{% if category_post %}
  ha
{% else %}
  nope
{% endif %}
{% for t in category_objects %}
  user -  {{ t.member }}
  date - {{ t.date_created|date:"F d,Y" }}
  <hr>
  <a href="{% url 'detail-view' t.id %}">{{ t.title }}</a>
  <br>
  body - {{ t.content }}
    <img src="{{ t.member.profile.profile_pic.url }}" width="40" height="40" class="rounded-circle">

  category - {{ t.category }}
  <hr>
{% endfor %}

{% endblock content %}
