{% extends "stormwind/base.html" %}
{% block title %} {{ cats }} {% endblock %}
{% block content %}


<div class="container-fluid mt-100">
  <div class="d-flex flex-wrap justify-content-between">
    <div> <a href="{% url 'create-thread' %}" class="btn btn-shadow btn-wide btn-primary"> <span class="btn-icon-wrapper pr-2 opacity-7"> <i class="fa fa-plus fa-w-20"></i> </span> New thread </a> </div>
    <br>
    <br>
  </div>
  <div class="card mb-3">
    <div class="card-header pl-0 pr-0">
      <div class="row no-gutters w-100 align-items-center">
        <div class="col ml-3">Topics</div>
        <div class="col-4 text-muted">
          <div class="row no-gutters align-items-center">
          </div>
        </div>
      </div>
    </div>
    {% for t in category_objects %}
    <div class="card-body py-3">
      <div class="row no-gutters align-items-center">
        <div class="col"> <a href="{% url 'detail-view' t.id %}" class="text-big" data-abc="true">
            {% if t.title|length > 40 %}
            {{ t.title|slice:":40"|safe}}
            {% else %}
            {{ t.title }}
            {% endif %}
          </a>
          <div class="text-muted small mt-1">{{ t.date_created|date:"F d,Y" }} <a href="javascript:void(0)" class="text-muted" data-abc="true">{{ t.member }}</a></div>
        </div>
        <div class="d-none d-md-block col-4">
          <div class="row no-gutters align-items-center">
            <div class="col-4"></div>
            <div class="media col-8 align-items-center">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0">
    {% endfor %}
  </div>


  <hr>


  {% endblock content %}
