{% extends "stormwind/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Create Thread {% endblock %}
{% block content %}

  {{ form.media }}
  <form class ="create_thread" style="width:100%;"method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create A new Thread!</legend>

      <strong>{{ form|crispy }}</strong>
    </fieldset>
    <div class="form-group">
			<button id="signupSubmit" type="submit" class="btn btn-info btn-block">Create!</button>
		</div>
		<hr>
  </form>
{% endblock content %}
