{% extends "stormwind/base.html" %}
{% block title %} StormWind Herald {% endblock %}
{% block content %}



<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center"> <img src="{{ object.member.profile.profile_pic.url }}" width="40" height="40" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3"> <a href="#" data-abc="true">{{ object.member }}</a>
                            <div class="text-muted small">{{ object.date_created|date:"F d,Y" }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ object.content|safe }}
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle"  data-abc="true">
                      {% if total_likes == 0 %}
                      {% else %}
                      <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">{{ total_likes }}</span>

                      {% endif %}
                       </div>
                     <div class="px-4 pt-3">
                       {% if user.is_authenticated and user == object.member %}
                         <a href="#">Update</a>
                       {% endif %}
                     </div>
                    <div class="px-4 pt-3">
                      {% if user.is_authenticated and user == object.member %}
                        <a href="{% url 'delete_thread' thread.id %}">Delete</a>
                      {% endif %}
                    </div>

                    <div class="px-4 pt-3">
                      <form action="{% url 'like_post' thread.pk %}" method="post">
                      {% csrf_token %}
                      {% if user.is_authenticated %}
                        {% if liked %}
                        <button type="Submit" name="thread_id" value="{{ thread.id }}" class = "btn btn-danger btn-sm">
                          Unike</button>
                        {% else %}
                        <button type="Submit" name="thread_id" value="{{ thread.id }}" class = "btn btn-primary btn-sm">
                          Like</button>
                        {% endif %}
                      {% else %}
                      <small><a href="{% url 'login' %}">
                            Login</a> to like</small>
                      {% endif %}

                    </form> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>








{% endblock content %}
