{% extends "stormwind/base.html" %}
{% block title %} {{ object.title }} {% endblock %}
{% block content %}



<div class="container-fluid mt-100">
    <div class="row" style="width:100%">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center"> <img src="{{ object.member.profile.profile_pic.url }}" width="40" height="40" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3"> <a href="#" data-abc="true">{{ object.member }}</a>
                            <div class="text-muted small">{{ object.date_created|date:"F d,Y" }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ object.content|safe }}
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle"  data-abc="true">
                      {% if total_likes == 0 %}
                      {% else %}
                      <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">{{ total_likes }}</span>

                      {% endif %}
                       </div>
                     <div class="px-4 pt-3">
                       {% if user.is_authenticated and user == object.member %}
                         <a href="{% url 'update-thread' thread.id %}">Update</a>
                       {% endif %}
                     </div>
                    <div class="px-4 pt-3">
                      {% if user.is_authenticated and user == object.member %}
                        <a href="{% url 'delete_thread' thread.id %}">Delete</a>
                      {% endif %}
                    </div>
                    <div class="px-4 pt-3">
                      {% if not user.is_authenticated %}
                      <small><a href="{% url 'login' %}">
                            Login</a> to like</small>
                      {% endif %}
                    </div>

                    <div class="px-4 pt-3">
                      <form action="{% url 'like_post' thread.pk %}" method="post">
                      {% csrf_token %}
                      {% if user.is_authenticated %}
                        {% if liked %}
                        <button type="Submit" name="thread_id" value="{{ thread.id }}" class = "btn btn-danger btn-sm">
                          Unike</button>
                        {% else %}
                        <button type="Submit" name="thread_id" value="{{ thread.id }}" class = "btn btn-primary btn-sm">
                          Like</button>
                        {% endif %}
                      {% endif %}

                    </form> </div>
                </div>
            </div>
            <hr>
            <div class="container d-flex justify-content-center mt-100 mb-100">
    <div class="row" style="width:100%;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  {% if thread.replies.all %}
                    <h4 class="card-title">Recent Replies</h4>
                    {% if user.is_authenticated %}
                      <h6 class="card-subtitle"><a href="{% url 'add_reply' thread.pk %}">Click here to reply</a></h6>
                    {% else %}
                      <h6 class="card-subtitle"><a href="{% url 'login' %}">Click here to reply</a></h6>
                    {% endif %}
                  {% else %}
                  {% if user.is_authenticated %}
                    <h6 class="card-subtitle"><a href="{% url 'add_reply' thread.pk %}">Be the first to reply to the thread!!</a></h6>
                  {% else %}
                    <h6 class="card-subtitle"><a href="{% url 'login' %}">Be the first to reply to the thread!!</a></h6>
                  {% endif %}
                </div>
                {% endif %}
                {% if thread.replies.all %}
                  {% for r in thread.replies.all %}
                <div class="comment-widgets m-b-20">
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><span class="round"><img src="{{ object.member.profile.profile_pic.url }}" width="40" height="40" class="d-block ui-w-40 rounded-circle" alt=""></span></div>
                        <div class="comment-text w-100">
                            <h5>{{ r.name }}</h5>
                            <div class="comment-footer"> <span class="date">{{ r.date }}</span><a href="#"></a> <a href="#"></a> <a href="#"></a>  </div>
                            <p class="m-b-5 m-t-10">{{ r.body }}</p>
                        </div>
                    </div>
                    {% endfor %}
                  {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>

<br><br>








{% endblock content %}
